absl-py==0.11.0
aiohttp==3.6.3
alabaster==0.7.12
argcomplete==1.12.2
argh==0.26.2
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atari-py==0.2.6
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
Babel==2.8.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
cryptography==3.1.1
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
docutils==0.16
entrypoints==0.3
evo==1.13.1
flake8==3.8.4
future==0.18.2
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.14.2
grpcio==1.31.0
gym==0.17.3
h5py==2.10.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.1
jeepney==0.5.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-c-kernel==1.2.2
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==21.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
metatrader==0.0.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
msgpack-numpy==0.4.7.1
multidict==4.7.6
natsort==7.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
numpy==1.18.5
numpydoc==1.1.0
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
pip==20.2.3
pluggy==0.13.1
prettytable==0.7.2
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.7.2
PyJWT==1.7.1
pylint==2.6.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyquaternion==0.9.9
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pytz==2020.1
pyxdg==0.27
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome==1.0.1
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==4.6
Rtree==0.9.4
scipy==1.5.4
seaborn==0.11.1
SecretStorage==3.1.2
setuptools==50.3.0.post20201006
sip==4.19.13
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==2.2
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.5
spyder-kernels==1.9.4
tabulate==0.8.7
tdqm==0.0.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.2.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorpack==0.10.1
termcolor==1.1.0
testpath==0.4.4
toml==0.10.1
torch==1.7.0
torchaudio==0.7.0a0+ac17b64
torchvision==0.8.1
torchviz==0.0.1
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
typing-extensions==3.7.4.3
ujson==5.4.0
urllib3==1.25.11
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.35.1
wrapt==1.11.2
wurlitzer==2.0.1
yapf==0.30.0
yarl==1.6.2
zipp==3.4.0
